<!DOCTYPE html>
<html>

<head>
    <title>Home Page</title>
</head>

<body>
    <div>
        <h2>Download</h2>
        <a href="<%= videoUrl %>">click to download</a>

        <p><a href="/">Return to Home</a></p>
    </div>
</body>

</html>