<!DOCTYPE html>
<html>

<head>
    <title>Home Page</title>
</head>

<body>
    <div>
        <h3>Error</h3>
        <p>
            <%if(!error.status){%>
                <%=error%>
                    <%}else{%>
                        <%=error.status%>
                            <%=error.statusText%>
                                <%}%>

        </p>
        <a href="/">Return to Home</a>
    </div>
</body>

</html>