<!DOCTYPE html>
<html>

<head>
    <title>Home Page</title>

</head>

<body>
    <div>
        <h2>Twitter Video Downloader</h2>
        <form name="myForm" action="/download" method="POST">
            <input type="url" name="url" placeholder="Enter Twitter Video URL">
            <input type="submit" value="Download">
        </form>
    </div>
    <!-- prevent submission if form is empty -->
    <script>
        var form = document.forms.namedItem("myForm");
        form.addEventListener('submit', function (e) {
            e.preventDefault();
            if (form.url.value) form.submit();
        }, false);
    </script>

</body>

</html>